
:root{

    --color-orange-1: #ff6000;
    --color-blue-1: #051be5;
    --color-grey-light-1: #5c5b6b;
    --color-grey-dark-1: #373648;
    --color-white-1: #fff;
    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
    --line: 1px solid var(--color-grey-light-2);
    --shadow-dark:  0 2rem 6rem rgba(0,0,0, 0.3);
    
}
$bp-largest-2:79em;
$bp-largest-1:65em;
$bp-largest:54em;
$bp-large:45em;
$bp-large-1:43em;
$bp-large-2:38em;
$bp-large-3:34em;
 @media only screen and (max-width:$bp-largest-2) {
 
}
*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
       box-sizing: border-box;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-grey-dark-2);
    // background-image: linear-gradient(to right bottom, var(  --color-orange-1),var( --color-grey-light-3));
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}