// HEADER STYLE

.nav {
  width: 100%;
  position: relative;
  margin-top: 2rem;
  &__check {
    display: none;
  }
  &__header {
    display: inline;
  }
  &__nav {
    height: 50px;
    width: 100%;
    position: relative;
    margin-top: 20px;
  }

  &__navbtn {
    display: none;
  }
  &__title {
    display: inline-block;
    font-size: 22px;
    color: white;
    background: #ff6000;
    padding: 10px 10px 10px 10px;
    margin-left: 15px;
    margin-top: 20px;
    text-decoration: none;

  }

  &__btn {
    display: none;
  }
}

.navlinks {
  float: right;
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-right: .5rem;
  background: #ff6000;
  border-radius: 50px;
  
  &__link {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }

  &__link:hover {
    background-color: #051be6;
    border-radius: 50px;
  }
}
// NEW STYLESSSSSSSS


.animated-button:link,
.animated-button:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    position: relative;
  }

  .animated-button:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

 .animated-button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

 .animated-button::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

.animated-button:hover::after {
    transform: scaleY(1.5) scaleX(1.4);
    opacity: 0;
  }
.nav {
  height: 70px;
  width: 100%;
  background-color: #ff6000;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:690px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}



// NEWSTYLESSSSSS
// .active {
//   background: #051be6;
//   border-radius: 50px;
// }

.desc {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--color-white-1);
  padding-top: 15rem;
  &__pagedesc {
    text-align: center;
    font-size: 4rem;
    padding-bottom: 1rem;
  }

  &__pagedestwo {
    text-align: center;
    font-size: 1.5rem;
  }
}

.firstbtn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem 3rem;
@media only screen and (max-width:$bp-largest) {
   padding: 1rem 1rem;
}
  &__btn-anime {
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
    padding: 2rem;
    margin: 4rem 2rem;
  }
  &__btn-anime:link,
  &__btn-anime:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    position: relative;
  }

  &__btn-anime:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  &__btn-anime:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  &__btn-anime::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &__btn-anime:hover::after {
    transform: scaleY(1.5) scaleX(1.4);
    opacity: 0;
  }
}

.btn1 {
  &__btn-anime {
    background: var(--color-blue-1);
    color: #efefef;
    border-radius: 10px;
    margin: 30px 0px 0px 20px;
    text-decoration: none;
    padding: 5%;
    font-size: 1rem;
    //   width: 30%;
    flex: 0 0 30%;
  }
  &__btn-anime:link,
  &__btn-anime:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    position: relative;
  }

  &__btn-anime:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  &__btn-anime:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  &__btn-anime::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &__btn-anime:hover::after {
    transform: scaleY(1.5) scaleX(1.4);
    opacity: 0;
  }
}

.firstbtn > a {
  padding: 1.5rem;
  width: 30%;
  color: #efefef;
  border-radius: 10px;
  margin: 3rem 3rem;
  text-decoration: none;
  font-size: 1.5rem;
  @media only screen and (max-width:$bp-largest) {
   margin: 1rem 1rem;
   font-size: 1rem;
}
}

.firstbtn > a:first-child {
  background: #ff5e00;
}

.firstbtn > a:nth-child(2) {
  background: #051be6;
}

//SERVICES

.services1 {
  display: flex;
  margin-top: 5rem;
  flex-wrap: wrap;
}

.flex-divs {
  display: flex;
  flex: 1;
      @media only screen and (max-width:$bp-largest) {
  flex-direction: column;
}
     @media only screen and (max-width:$bp-large-1) {
  flex-direction: column;
}
}
.firstdiv {
  flex: 0 0 15%;
    @media only screen and (max-width:$bp-largest) {
  display: none;
}
    @media only screen and (max-width:$bp-large-2) {
  display: none;
}
}
.service-container {
  height: 30rem;
  padding: 3rem;
  @media only screen and (max-width:$bp-large-1) {
  width: 80%;
margin-left: 3rem;
}
&__heading{
  margin-top: -5rem;
}
  &__approach {
    font-size: 3rem;
    font-weight: 300;
    
        @media only screen and (max-width:$bp-large-2) {
  font-size: 2.5rem;
    font-weight: 300;
    padding-bottom: 1rem;
}
  }

  &__market {
    font-size: 1.8rem;
    font-weight: 200;
    margin-bottom: 4rem;
       @media only screen and (max-width:$bp-largest-2) {
display: block;
       }

        @media only screen and (max-width:$bp-large-2) {
  
  font-size: 1.5rem;
    font-weight: 300;
    padding-bottom: 1rem;
}
  }
}

.service-container-two {
  position: relative;
  display: flex;
  flex-direction: column;
  // justify-content: end;
  background-image: linear-gradient(
      to right bottom,
      rgba(65, 105, 225, 0.5),
      #2606f080
    ),
    url(../assets/images/smilingmen.jpg);
  background-size: cover;
  background-position: top;
  height: 30rem;
      @media only screen and (max-width:$bp-largest) {
  margin-top: 3rem;
}
   @media only screen and (max-width:$bp-large-1) {
     flex-direction: column;
      align-items: center;
  width: 80%;
justify-content: center;
margin-left: 5rem;
}
  &__bluebk {
    margin-top: 13.7rem;
    background: #051be6;
    opacity: 0.9;
    color: #fff;
    padding: 2rem;
  }
  &__desc {
    font-size: 2rem;
    font-weight: 300;
        @media only screen and (max-width:$bp-largest) {
          font-size: 3rem;   
}
  @media only screen and (max-width:$bp-large-2){
    font-size: 1rem;
    font-weight: 300;
    padding-bottom: 1rem;
}
  }
  &__campaign {
    font-size: 1.2rem;
    font-weight: 200;
    background: #051be6;
    opacity: 0.9;
    color: #fff;
        @media only screen and (max-width:$bp-largest) {
          font-size: 1.8rem;
}
  }
}

.readmore {
  background: #ff6000;
  font-size: 1rem;
  font-weight: 200;
  color: #fff;
  list-style: none;
  text-decoration: none;
  margin-top: 1rem;
  padding: .5rem;
  border-radius: .5rem;
}

.butn1 {
  padding: 1.5rem;
  border-radius: 1rem;
  color: white;
  font-size: 2rem;
  font-weight: 400;
  background: #051be6;
  text-decoration: none;
    @media only screen and (max-width:$bp-large-2) {
    font-size: 1rem;
}

}

.butn1::hover{
  cursor: pointer;
}
.forward {
  background: #ff6000;
  padding: 1rem;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  width: 3rem;
  align-self: flex-end;
  position: absolute;
  top: 0;

}

//ABOUT

.about {
  margin-top: 12rem;
}

.about-container {
  background: #051be6;
  // display: flex;
  height: 30rem;
  position: relative;
}

.working {
  position: absolute;
  background-image: linear-gradient(
      to right bottom,
      rgba(65, 105, 225, 0.5),
      #2606f080
    ),
    url(../assets/images/smilingmen.jpg);
  background-size: cover;
  background-position: top;
  margin-left: 7rem;
  margin-right: 4rem;
  width: 35rem;
  height: 39rem;
  top: -3rem;

   @media only screen and (max-width:$bp-large-1) {
 margin-left: 2rem;
 width: 25rem;
   height: 35rem;
}

 @media only screen and (max-width:$bp-large-3) {
 display: none;
}
}

.working-content {
  background: #ff6000;
  width: 25rem;
  opacity: 0.7;
  height: 9rem;

  &__parag {
    color: white;
    margin-top: 25rem;
    padding: 1rem;
  }
}

.forward2 {
  background: #ff6000;
  padding: 1rem;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  width: 3rem;
  right: 0;
  bottom: 0;
  position: absolute;
  // align-self: flex-end;
}

.about-content {
  color: #fff;
  padding-left: 5rem;
  width: 60%;
  line-height: 3rem;
  position: absolute;
  top: 3rem;
  left: 50rem;
  width: 40%;
   @media only screen and(max-width:$bp-largest){
   left: 40rem;
   top: 0;
  }
   @media only screen and (max-width:$bp-large-1) {
  left: 25rem;
   top: 0;
}
 @media only screen and (max-width:$bp-large-3) {
 left: 5rem;
   top: 0;
   width: 80%;
}
  &__abt {
    font-size: 3rem;
    padding-top: 3rem;
      @media only screen and(max-width:$bp-largest-1){
   padding-top: 1rem;
  }
     @media only screen and(max-width:$bp-largest){
   font-size: 1.5rem;
  }
  }
  &__abt-header {
    font-size: 1.5rem;
       @media only screen and(max-width:$bp-largest-1){
 font-size: 1rem;
  }
  }
  &__parag {
    font-size: 1.5rem;
       @media only screen and(max-width:$bp-largest-1){
    font-size: 1rem;
  }
  }
}

.btn2 {
  margin-top: 3rem;
     @media only screen and(max-width:$bp-largest){
   margin-top: 1rem;
  }
}
.readmore2 {
  background: #ff6000;
  font-size: 1rem;
  font-weight: 200;
  color: #fff;
  list-style: none;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 0.7rem;
  // align-self: flex-end;
}

//SERVIVES

#services2 {
 margin-top: 10rem;
}

.service-container2 {
  width: 100%;
text-align: center;

  &__serv {
    color: var(--color-grey-light-1);
    font-size: 2.5rem;
    font-weight: 400;
      @media only screen and (max-width:$bp-large) {
 font-size: 1rem;
}
  }
  &__exclusive {
    color: var(--color-grey-dark-1);
    font-weight: 400;
      font-size: 2.5rem;
            @media only screen and (max-width:$bp-large) {
 font-size: 1.5rem;
}
  }

  &__paragh {
    color: var(--color-grey-light-1);
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 2rem;
                @media only screen and (max-width:$bp-large) {
 font-size: 1.5rem;
}
            @media only screen and (max-width:$bp-large) {
 font-size: 1rem;
}

  }
}



.inner-serv-boxes {
  box-shadow: 0px 0px 1px 0px #373648;
  padding: 3rem;
  margin: 1rem;
  width: 50%;
  background: rgb(238, 238, 238);

}

.boder-color {
  border-bottom: 3px solid #ff5e00;
}
.h3 {
  padding-top: 1rem;
}

//EXCLUSIVE

.exclusive-container {
  background: var(--color-grey-blue-1);
  display: flex;
  margin-top: 4rem;
    @media only screen and (max-width:$bp-large) {
  flex-wrap: wrap;
  justify-content: center;
}
}

.serv-heade {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}
.scandal{
    font-size: 1.2rem;
}

.exc2 {
  background-image: linear-gradient(
      to right bottom,
      rgba(65, 105, 225, 0.5),
      var(--color-blue-1)
    ),
    url(../assets/images/smilingmen.jpg);
  background-size: cover;
  background-position: top;
  height: 50rem;
  width: 55rem;

}

.serv-boxes {
  display: flex;
 
  margin-bottom: -2rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
 @media only screen and(max-width:$bp-largest-1){
     
        margin-left: 3rem;
        margin-bottom: 1rem
   
  }
   @media only screen and (max-width:$bp-large-2) {
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-top: 3rem;
}
}

.serv-boxes__inner {
  padding: 1.8rem;
  width: 50%;
  height: 16rem;
   margin-left: 6rem;
  font-size: 1rem;
  font-weight: 300;
    @media only screen and(max-width:$bp-largest){
      width: 50%;
        margin-left: 3rem;
   
  }

    @media only screen and (max-width:$bp-large-2) {
  
  margin-left: 30rem auto;
  // margin-right: auto;
}
}

.exc1 {
margin-left: auto;
margin-right: auto;

  &__header {
    text-align: center;
    padding-top: 3rem;
    font-size: 2rem;
    color: var(--color-grey-light-1);
      @media only screen and (max-width:$bp-largest-1) {
  
 font-size: 1.2rem;
}
  }
  &__title {
    text-align: center;
    font-size: 2.5rem;
    color: var(--color-grey-dark-1);
    padding-top: 1rem;
        @media only screen and (max-width:$bp-largest-1) {
  
 font-size: 1.8rem;
}
  }
  &__paragh {
    padding-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
    color: var(--color-grey-light-1);
        @media only screen and (max-width:$bp-largest-1) {
  
 font-size: 1rem;
}
  }
}

//MANAGE FINANCIAL STYLES
.flex-div {
  display: flex;
 padding-top: 7rem;
  margin-left: 5rem;
  padding-top: 10rem;
   @media only screen and (max-width:$bp-large) {
display: block;

}
}

.image-div {
  // background-color: #ff5e00;
  background-image: url("../assets/images/dash.png");
  background-size: cover;
  background-position: top;
  width: 40%;
  height: 30rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

    @media only screen and (max-width:$bp-large) {
display: block;
 width: 70%;
 margin-left: auto;
 margin-right: auto;
}
}

.care-about {
  width: 50%;
  height: 30rem;
  margin-left: 3rem;
  @media only screen and (max-width:$bp-large) {
display: block;
 width: 70%;
 margin-left: auto;
 margin-right: auto;
 margin-top: 4rem;
}
  &__parag {
    color: var(--color-grey-light-1);
    font-size: 2rem;
  }
  &__heading {
    color: var(--color-grey-dark-1);
    font-size: 2.5rem;
      @media only screen and (max-width:$bp-large) {
font-size: 1.5rem;
margin-top: 3rem;
}
  }
  &__desc {
    color: var(--color-grey-light-1);
    font-size: 1.6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.case-btn {
  display: flex;
  padding-top: 3.5rem;
  &__buttonOne {
    background-color: #ff6000;
    padding: 1rem 2rem;
    margin-right: 2rem;
    color: #fff;
    border-radius: 1rem;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    margin-left: 2rem;

        @media only screen and (max-width:$bp-large) {
font-size: .7rem;
 padding: .7rem 1rem;
    margin-right: 1rem;
      margin-left: .3rem;
}
  }
  &__buttonTwo {
    background-color: var(--color-blue-1);
    padding: 1rem 2rem;
    margin-right: 2rem;
    color: #fff;
    border-radius: 1rem;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    margin-left: 2rem;
         @media only screen and (max-width:$bp-large) {
font-size: .7rem;
 padding: .7rem 1rem;
    margin-right: 1rem;
}
  }
}

.section-container {
  padding-top: 10rem;
  text-align: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  &__heading {
    color: var(--color-grey-light-1);
    font-size: 2rem;
    font-weight: 300;
  }
  &__parag {
    color: var(--color-grey-light-1);
    font-size: 2.5rem;
    font-weight: 300;
  }
  &__paragTwo {
    color: var(--color-grey-dark-1);
    font-size: 1.5rem;
    font-weight: 300;
            @media only screen and (max-width:$bp-largest) {
    font-size: 1rem;
}
  }
}
#case-studies{
  margin-bottom: 6rem;
}
.flex-studies {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem;
  padding-bottom: 4rem;
  
  @media only screen and (max-width:$bp-largest-1) {
     width: 96%;

}
   @media only screen and (max-width:$bp-large) {
    
display: block;
margin-left: auto;
margin-right: auto;
}
}

.flex-studies-one {
  margin-right: 2rem;
  background: rgb(224, 223, 223);
  width: 40%;
  height: 40rem;
  padding: 1rem;
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.2);
  @media only screen and (max-width:$bp-large) {
     width: 60%;
display: block;
margin-left: auto;
margin-right: auto;
}
  &__heading {
    padding-top: 3rem;
    font-size: 2rem;
    font-weight: 300;
  }
  &__parag {
    padding-top: 3rem;
    font-size: 1.8rem;
    font-weight: 300;
  }
  &__paragTwo {
    padding-top: 3rem;
   font-size: 1.5rem;
    font-weight: 300;
    padding-bottom: 3rem;
     @media only screen and (max-width:$bp-large) {
   font-size: 2rem;
}
  }
  &__headingTwo {
    padding-top: 5rem;
    font-size: 1.5rem;
    font-weight: 300;
    display: inline;
    margin-right: 1rem;
  }
}

.crack {
  padding-top: 5rem;
  font-size: 1.5rem;
  font-weight: 300;
  display: inline;
  color: #051be6;
}

.flex-studies-two {
  background-image: linear-gradient(
      to right bottom,
      rgba(65, 105, 225, 0.5),
      #2606f080
    ),
    url(../assets/images/smilingmen.jpg);
  background-size: cover;
  background-position: top;
  width: 40%;
  height: 40rem;
  margin-right: 2rem;
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.2);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  @media only screen and (max-width:$bp-large) {
    width: 60%;
display: block;
margin-left: auto;
margin-right: auto;
text-align: center;

margin-top: 4rem;
margin-bottom: 4rem;
}
  &__heading {
    font-size: 1.5rem;
    font-weight: 300;
    padding-bottom: 1rem;
      @media only screen and (max-width:$bp-large) {
   padding-top: 7rem;
   font-size: 2.5rem;
}
&__headingtwo{
       @media only screen and (max-width:$bp-large) {

   font-size: 2.5rem;
}

}

  }
  &__button {
    text-decoration: none;
    padding: 1rem 2rem;
    background:  rgb(253, 151, 82);
    margin-top: 3rem;
    border-radius: 1rem;
    text-align: center;
    color: #fff;
 
  }

  &__parag{
           @media only screen and (max-width:$bp-large) {
   margin-bottom: 5rem;
}
  }
}

//Contact-us

.contact-us-container {
  margin-top: 7rem;
  background-image: linear-gradient(
      to right bottom,
      rgba(65, 105, 225, 0.5),
      #2606f080
    ),
    url(../assets/images/office.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  height: 40rem;
}

.box-1 {
  position: absolute;
  top: 0;
  opacity: .6;
  left: 15rem;
  color: #fff;
  text-align: center;
  background: #ff6000;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
   width: 20%;

     @media only screen and(max-width:$bp-largest){
   left: 5rem;
  }
         @media only screen and (max-width:$bp-large) {
  display: none;
}
  &__parag {
    font-size: 2rem;
    font-weight: 300;
  }
}

.box-2 {
  opacity: .6;
  width: 20%;
  position: absolute;
 bottom: 0;
  left: 15rem;
  color: #fff;
  text-align: center;
  background: #051be6;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
   @media only screen and(max-width:$bp-largest){
   left: 5rem;
        @media only screen and (max-width:$bp-large) {
  // display : none;
}
  }
   &__parag {
    font-size: 2rem;
    font-weight: 300;
  }
}

.box-3 {
  opacity: .6;
 width: 20%;
  position: absolute;
 top: 0;
  left: 45rem;
  color: #fff;
  text-align: center;
  background: #051be6;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    @media only screen and (max-width:$bp-largest-1) {
 left: 39rem;
}
   @media only screen and(max-width:$bp-largest){
   left: 30rem;
  }
       @media only screen and (max-width:$bp-large) {
  display: none;
}
   &__parag {
    font-size: 2rem;
    font-weight: 300;
  }
}

.box-4 {
  opacity: .6;
  width: 20%;
  position: absolute;
 bottom: 0;
  left: 50rem;
  color: #fff;
  text-align: center;
  background: #051be6;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
   @media only screen and (max-width:$bp-largest-1) {
 left: 39rem;
}
   @media only screen and(max-width:$bp-largest){
   left: 30rem;
  }
       @media only screen and (max-width:$bp-large) {
  display: none;
}
   &__parag {
    font-size: 2rem;
    font-weight: 300;
  }
}

.div-5{
position: absolute;
width: 30%;
background: #051be6;
opacity: .6;
top: -4rem;
left: 71rem;
height: 39rem;
 @media only screen and (max-width:$bp-largest-1) {
 left: 58rem;
}
 @media only screen and(max-width:$bp-largest){
   left: 45rem;
  }

       @media only screen and (max-width:$bp-large) {
 left: 12rem;
 width: 60%;
 margin-top: 3rem;
}
}

.req{

  background: #ff6000;
  color: #fff;
  padding: 3rem;
  margin-top: 1.5rem;
  width: 70%;
  &__free{
    font-size: 1.1rem;
    font-weight: 300;
  }
}

.form-div{
  margin-top: 1rem;
  padding: 1rem 3rem 3rem 3rem;
}

#form{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form{
  border-radius: 2rem;
  width: 92%;
  padding: .5rem;
  margin:.9rem;
  background: #fff;
}

.form:focus{
  outline: none;
width: 100%;
transform: scaleX(1);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
      background-color 0.1s;
}


.btn-subb{
  border-radius: 2rem;
  width: 50%;
  padding: .5rem;
  margin:.9rem;
  background: #373648;
  color: #fff;
  text-transform: uppercase;
  align-self: center;
}

.btn-subb:hover{
  cursor: pointer;
}

//TESTIMONIALS

.test-container{
  margin-top: 8rem;
text-align: center;
width: 50%;
margin-left: auto;
margin-right: auto;
padding-top: 3rem;
&__heading{
  
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--color-grey-light-1);
     @media only screen and (max-width:$bp-large-2) {
   font-size:1rem;
}
}
&__parag{
  font-size: 2.5rem;
  font-weight: 300;
   color: var(--color-grey-dark-1);
     @media only screen and (max-width:$bp-large-2) {
   font-size:1.5rem;
}
}

&__paragone{
  padding-top: 1rem;
   font-size: 1.5rem;
  font-weight: 300;
  color: var(--color-grey-light-1);
}
}
.testim{
  display: flex;
justify-content: center;
margin-top: 5rem;

     @media only screen and (max-width:$bp-large-1) {
   flex-direction: column;
   align-items: center;
}
}

.test_div{
  margin-left: 3rem;
  background-image: url('../assets/images/fold-arms.png');
  width: 50%;
  height: 40rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
   @media only screen and (max-width:$bp-largest-1) {
  width: 40%;
}
     @media only screen and (max-width:$bp-large-1) {
  width: 40%;
}

}

.test_div_two{
  width: 30%;
     @media only screen and (max-width:$bp-large-1) {
   flex-direction: column;
   align-items: center;
   width: 50%;
}
}

.test_div_three{
  display: flex;
  &__test-p{
    color: #051be6;
    font-size: 2rem;
    display: inline;
         @media only screen and (max-width:$bp-largest) {
font-size: 1.5rem;
}
  }
  &__rd{
    color: #ff5e00;
    font-size: 3rem;
   display: inline;
  }
}

.hr-ben{
  padding-top: 3rem;
  font-size: 1.5rem;
}

.jo{
  padding-top: 2rem;
  font-size: 2rem;
  color: var(--color-grey-light-1);
}
.ceo{
   padding-top: 1rem;
  font-size: 1.3rem;
  color: var(--color-grey-dark-1);
  margin-bottom: 3rem;
}

.directtion{
padding: 1.7rem;
background: #ff5e00;
display: inline;
color: #fff;
}

.directtion1{
padding: 1.7rem;
background: #051be6;
color: #fff;
display: inline;
}

//blog

.blog-desc{
width: 50%;
margin-left: auto;
margin-right: auto;
text-align: center;
  margin-top: 8rem;

  &__heading{
    font-size: 2.5rem;
    font-weight: 300;
    padding-top: 1rem;
    color: var(--color-grey-light-1);
  }
  &__parag{
    font-size: 2rem;
    font-weight: 300;
     color: var(--color-grey-dark-1);
  }
  &__paraGTWO{
     font-size: 1.5rem;
    font-weight: 300;
    padding-top: 1rem;
    color: var(--color-grey-light-1);
  }
}

.case-btn__btn{
  background-color: #051be6;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  border-radius: 1rem;
  
}

.case-btn__btn:hover{
 cursor: pointer;
  
}


.blog-container{

  display: flex;
  margin-top: 3rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
   @media only screen and (max-width:$bp-large) {
 flex-direction: column;
 align-items: center;
}
}


.blog-container__one{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 1rem;
    @media only screen and (max-width:$bp-largest-2) {
 margin-bottom: 2rem;
 width: 62%;
}
}

.blog-container__oneONE{
  background-image: url('../assets/images/smilingmen.jpg');
  height: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
margin-right: 3rem;



}

.blog-container__oneTWO{
  margin-top: 2rem;

  &__heading{
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: 300;
    color: var(--color-grey-dark-1);
  }

  &__goals{
   padding-top: .5rem;
    font-size: .8rem;
    font-weight: 300;
    color: var(--color-grey-light-1);
    margin-bottom: 3rem;
  }
}


.blog-container__two{
  width: 60%;
}

.blog-container__twoTWO{
   background: rgb(248, 245, 245);
color: #fff;
  height: 14rem;
  margin-bottom: 2.5rem;
  box-shadow: 0rem .3rem .6rem rgba(0, 0, 0, 0.2);
  padding: 1rem;
  &__heading{
    font-size: 1.7rem;
    font-weight: 300;
    color: var(--color-grey-dark-1);
    padding: .5rem;
  }
  &__goals1{
     font-size: 1.2rem;
    font-weight: 300;
    color: var( --color-blue-1);
    padding: .5rem;
  }
  &__parag{
     font-size: 1rem;
    font-weight: 300;
    color: var( --color-grey-light-1);
    padding: .5rem;
  }
}
.container_blog{
  background: rgb(248, 245, 245);

  height: 14rem;
  margin-bottom: 3rem;
  margin-top: 1rem;
  box-shadow: 0rem .3rem .6rem rgba(0, 0, 0, 0.2);
  padding: 1rem;
  &__heading{
    font-size: 1.7rem;
    font-weight: 300;
    color: var(--color-grey-dark-1);
    padding: .5rem;
  }
  &__goals1{
     font-size: 1.2rem;
    font-weight: 300;
    color: var( --color-blue-1);
    padding: .5rem;
  }
  &__parag{
     font-size: 1rem;
    font-weight: 300;
    color: var( --color-grey-light-1);
    padding: .5rem;
  }
}

.blog-container__twoTWO{

 background: #ff6000;
  height: 14rem;
  margin-bottom: 3rem;
  box-shadow: 0rem .3rem .6rem rgba(0, 0, 0, 0.2);
  padding: 1rem;
  &__heading{
    color:#fff;
  }
  &__goals1{
       color:#fff;
  }
    &__parag{
       color:#fff;
  }
}

//company

.company{
  background-image: url('../assets/images/comp.png');
  background-size: cover;
  background-repeat: no-repeat;
  
  margin-top: 5rem;
   margin-bottom: 5rem;
  width: 100%;
  height: 10rem;;
}

.footerONE{
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
   @media only screen and (max-width:$bp-large) {
 flex-direction: column;
 align-items: center;
}
}

.foter{
  width: 40%;
  height: 20rem;
  margin-right: 3rem;
    @media only screen and (max-width:$bp-large) {
 width: 60%;
   height: 10rem;
}
}

.footer_style{

  &__heading{
    font-size: 2rem;
    text-decoration: underline;
    color: #051be6;
    letter-spacing: .5rem;
    padding-bottom: 1rem;
  }
  &__parag{
    font-size: .6rem;
    font-weight: 300;
    color: var(--color-grey-light-1);
  
  }
}

.con{
line-height: 1.7rem;

  &__heading{
    padding-top: 4.2rem;
    font-size: .1rem;
    font-weight: 300;
    color: var(--color-grey-light-1);
  }
}

.list{
  list-style: none;
 padding-top: 3.5rem;
  &__item{
    padding: .4rem;
  }
  &__link{
    text-decoration: none;
    color: var(--color-grey-light-1);
  }
}

.footer-sub{
  &__heading{
     padding-top: 4.2rem;
    font-size: .6rem;
    font-weight: 300;
    color: var(--color-grey-light-1);
  }
}

.form-st{
  display: flex;
}

.svg-ic{
  background: #ff5e00;
  width: 10%;
text-align: center;
padding-top: .2rem;
}
.footer_icon{
  width: 5%;
}


.footerend{
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
justify-content: space-between;
}

.social-media{
 
}
.sm-list{
  list-style: none;
  display: flex;
  &__item{
    padding: .4rem;
  }
  &__link{
    text-decoration: none;
    color: var(--color-grey-light-1);
  }
}

.iconstyle{
  font-size: 2rem;
  color: var(--color-blue-1);
  padding-right: 2rem;
}
// .service-content-one{

//     //  width: 40%;
//     // height: 340px;
//     margin: 5px;
//      color: white;
//      &__fresh{
//          color: var(--color-grey-dark-1);
//          font-size: 2rem;
//          padding: 50px 0px 0px 20px;
//      }
//  &__fresh1{
//          color: var(--color-grey-light-1);
//          font-size: 1rem;
//          padding: 10px 30px 0px 20px;
//      }

// }

// .service-content-two{
//     background: #836857;
//     //  width: 40%;
//     // height: 340px;
//     margin: 5px;
//      color: white;
//      display: flex;
//      background-image: linear-gradient(
//  to right bottom,
//  rgba(65, 105, 225, 0.5),
//  #2606f080
//  ),
//  url(../assets/images/smilingmen.jpg);
//  background-size: cover;
//  background-position: top;

//  .readmore{
// background: var( --color-orange-1);
// margin-left: 20px;
// padding: 1rem;
// margin-top: 10px;
// border-radius: 5px;
//  }
//      .readmore:link,
// .readmore:visited{

// text-transform: uppercase;
// text-decoration: none;
// display: inline-block;
// transition: all .2s;
// position: relative;

// }

// .readmore:hover{
//     transform: translateY(-10px);
//     box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
// }

// .readmore:active{
//     transform: translateY(-1px);
//      box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
// }

// .readmore::after{
//     content: "";
//     display: inline-block;
//     height: 100%;
//     width:100%;
//     border-radius: 100px;
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: -1;
//     transition: all .4s;
// }

// .readmore:hover::after{
//     transform: scaleY(1.5) scaleX(1.4);
//     opacity: 0;
// }

//      &__desc{
//          font-size: 2rem;
//         padding-left: 20px;

//      }

//      &__campaign{
//           color: var(--color-grey-light-1);
//          font-size: 1rem;
//          padding: 10px 30px 0px 20px;
//          color: var(--color-white-1)

//      }

//      .finance{
//          background: #051be6;
//          width: 100%;
//          opacity: 0.6;
//          height: 15rem;
//         margin-left: 10px;
//         align-self: flex-end;

//      }

// .direct{
//     padding: 2rem;
//     background: var(--color-orange-1);
//     align-self: flex-start;
//     font-size: 3rem;
// }

//ABOUT STYLINH

// .about{
//     background: #051be6;
//  display: flex;
//  justify-content: center;
//     &__content{
//     width: 30%;
//     height: 400px;
//     margin: 5px;
//      float: right;
//      color: white;
//      position: absolute;
//      top: 1100px;
//     left: 120px;
//     background-image: url('../assets/images/office.jpg');
//     background-repeat: no-repeat;
//     background-size: cover;
//     }

//     &__contenttwo{
//   padding-top: 55px;
//     width: 50%;
//     height: 340px;
//     margin: 5px;
//      float: right;
//      color: white;
// position: absolute;
//      top: 1150px;
//     left: 570px
//     }
// }

// .direct1{
//     padding: 2rem;
//     background: var(--color-orange-1);
//     align-self: flex-start;
//     font-size: 3rem;
// }

// /* RESPONSIVENESS */

// @media (max-width:600px) {

// .nav__header{
//     display: none;
// }

// .navlinks{
// // display: inline;
//   float: right;
//   font-size: 1rem;
//   margin-top: 20px;
// //   margin-right: 15px;
// //   background: #ff6000;
//   border-radius: 50px;

//   &__link{
//        display: inline-block;
//   padding: 13px 10px 13px 10px;
//   text-decoration: none;
//   color: #efefef;
//   }

//   &__link:hover{
//         background-color: #051be6;
//         border-radius: 50px;
//   }
// }

// .active {

//   background: #051be6;
//   border-radius: 50px;
// }
//   .desc > h3{
//     font-size: 20px;
//     padding-top: 50px
// }
// .desc > p{
//     font-size: 10px
// }

// /* OURSERVICE */

// .service-content{
// justify-content: flex-start;
// }

// .finance{
//     display: none;
// }
// .direct{
//     display: none;
// }
// /* about style */
// // #about{
// //    height: 65vh;
// //     width: 90%;
// //     background: #2b2c30;
// //     margin-left: auto;
// //     margin-right: auto;
// //     margin-top: 10px;

// // }

// .about-content > div:nth-child(1){
//     display: none;

// }

// .about-content > div:nth-child(2){

//     width: 75%;
//     height: 5px;
//     margin-left: -495px;
//      color: white;
//      display: block;
//       margin-top: 250px;

// }
// .direct{
//     width: 50px;
//     height: 45px;
//     background: #ff6000;
//     text-align: center;
//     padding-top: 9px;
//     margin-left: 84%
// }
// .direct1{
//    display: none;
// }

// /* SERVICE2 STYLING */

// .serv-boxes {
//   margin-left: 100px;
// margin-right: auto;
//   width:95%;
//   display: inline-block;
//   /* grid-template-columns: auto auto auto; */
//   /* padding: 10px; */
// }

// .serv-boxes > div{
//   border: 0.2px solid  #373648;
//   /* box-shadow: 1px 1px 1px 1px #373648; */
//   height: 220px;
//   margin-right: 10px;
//   margin-bottom: 10px;
//    padding: 20px;
//    width: 70%;

// }

// .serv-boxes > div:nth-child(2){
//   border-bottom: 4px solid;
//  border-bottom-color: #ff6000;
// }
// }
