.body-container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;

}

.navbar {

  background-image: linear-gradient(
      to right bottom,
      rgba(65, 105, 225, 0.5),
      rgba(38, 6, 240, 0.5)
    ),
    url(../assets/images/mn.jpg);
  background-size: cover;
  background-position: top;
  max-width: 100%;
  vertical-align: middle;
  position: relative;
}


//OUR SERVICES 

.services1{
  margin-bottom: 5rem;
}