  *{
    /* margin:0px;
    padding: 0px; */
    box-sizing: border-box; 
  }

body{
 font-family: 'Poppins', sans-serif;

}

*,
*::before,
*::after{
       box-sizing: border-box;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-image: linear-gradient(to right bottom, var(--color-primary-light),var(--color-primary-dark));
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

#navbar{
    /* background: dimgrey; */
    height: 90vh;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
background-image: linear-gradient(
 to right bottom, 
 rgba(65, 105, 225, 0.5),
 rgba(38, 6, 240, 0.5)
 ),
 url(../assets/images/mn.jpg);
 background-size: cover;
 background-position: top;
 max-width: 100%;
 vertical-align: middle;
 position: relative;
 
}
body {
  margin: 0px;
  font-family: 'segoe ui';
}

.nav {
  height: 50px;
  width: 100%;
  /* background-color: #4d4d4d; */
  position: relative;
  margin-top: 30px;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: white;
  background: #ff6000;
  padding: 10px 10px 10px 10px;
  margin-left: 15px;
  margin-top: 20px;
  
}

.nav > .nav-

 {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
  margin-top: 20px;
  margin-right: 15px;
  

}


.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.active {
 
  background: #051be6;
}
.nav > .nav-links > a:hover {
  background-color: #051be6;
}

.nav-links{
    background: #ff6000;
}

.nav > #nav-check {
  display: none;
}

.desc{
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-top: 20%;
    
}

.desc > h3{
    font-size: 30px;
}

.btn > a{
   /* display: inline-block;
  padding: 5px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
  width: 170px;
  height: 50px;
  margin: 9px;
  border-radius: 3px; */
    color: #efefef;
 border-radius: 10px;
  margin: 9px;
}


.btn > a:first-child{
  background: #ff6000;
}

.btn > a:nth-child(2){
  background: #051be6;
}
/* SERVICES STYLING */

#services1{
height: 70vh;
margin-top: 50px;
position: relative;

}

.flexdirection{
display: flex;
 flex-direction: row;
 overflow: auto;
 margin-left: 20%;

}

.flexdirection > div{
    background: #ff6000;
 flex-wrap: wrap;
    width: 50%;
    height: 340px;
    margin: 5px;
     float: right;
     color: white;

    
   
}
.direct{
    width: 50px;
    height: 45px;
    background: #ff6000;
    text-align: center;
    padding-top: 9px;
 margin-left: 90%

}
.flexdirection > div:nth-child(2){
background-image: linear-gradient(
 to right bottom, 
 rgba(65, 105, 225, 0.5),
 #2606f080
 ),
 url(../assets/images/smilingmen.jpg);
 background-size: cover;
 background-position: top;
 max-width: 100%;
 vertical-align: middle;
 position: relative;
}
.finance{
    margin-top: 147px;
    padding-left: 5px;
    background: #051be6;
    opacity: 0.6;
    height: 148px;
}

.finance > p > a{
    text-decoration: none;
    color: white;
    padding-left: 5px;
}
.campaign{
    padding-left: 3px;
}
.btn1{
    margin-left: 10px;
}
.btn1 > a{

 background: #051be6;
  color: #efefef;
    margin: 9px;
      border-radius: 10px;
}

.fresh{
    padding-top: 60px;
    padding-left: 15px;
 
}
.fresh1{
    padding-top: 10px;
    padding-left: 15px;
}

/* .anime{
   animation-name: moveinleft;
    animation-duration: 5s;
}


@keyframes moveinleft {
    0%{
        opacity: 0;
        transform: translateX(-100px)
    }

    80%{
        transform: translateX(20px)
    }
    100%{
        opacity: 1;
        transform: translate(0)
    }
    } */
/* ABOUT STYLING */

#about{
   height: 65vh;
    width: 96%;
    background: #051be6; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
   
}
.about-content{
display: flex;
 flex-direction: row;
 /* overflow: auto; */
 /* position: relative; */

}

.about-content > div:nth-child(1){
    background: #ff6000;
    /* flex-wrap: wrap; */
    width: 30%;
    height: 500px;
    margin: 5px;
     float: right;
     color: white;
     position: absolute;
     top: 1070px;
    left: 120px;
    background-image: url('../assets/images/office.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   
}

.about-content > div:nth-child(2){
  padding-left: 70px;
  padding-top: 35px;
    /* background: #ff00c8; */
    /* flex-wrap: wrap; */
    width: 50%;
    height: 340px;
    margin: 5px;
     float: right;
     color: white;
position: absolute;
     top: 1150px;
    left: 570px
}

/* .about-content > div:nth-child(2) > p{

} */

.btn2{
   
    margin-left: -5px;
}
.btn2 > a{
   /* display: inline-block;
  padding: 5px 10px 13px 10px;


  width: 130px;
  height: 30px; */
  margin: 9px;
  border-radius: 3px;
 background: #ff6000;
  padding-left: 15px;
    text-decoration: none;
      color: #efefef;

}

.direct1{
    width: 50px;
    height: 45px;
    background: #ff6000;
    text-align: center;
    padding-top: 9px;
    /* margin-left: 98%;
    margin-top: 95px; */
    position: relative;
    top: 82px;
    left: 556px;
}

/* SERVICES TWO STYLE */
#services2{
height: 100vh;
margin-top: 50px;
/* background: cadetblue; */
}

.serv-dec{
  text-align: center;
  color: black;
  padding-top: 20px
}





.serv-boxes {
  margin-left: auto;
margin-right: auto;
  width:80%;
  display: flex;

  flex-direction: row;
  padding: 10px;
  justify-content: space-around;
}

.serv-boxes > div{
  border: 0.2px solid  #373648;
  /* box-shadow: 1px 1px 1px 1px #373648; */
  height: 220px;
  margin-right: 10px;
  margin-bottom: 10px;
   padding: 20px;
   flex: 0 0 30%;
}

.serv-boxes > div:nth-child(2){
  border-bottom: 4px solid;
 border-bottom-color: #ff6000;
}

/* EXLUSIVE PAGE */

#exclusive{
height: 90vh;
margin-top: 50px;
background: rgb(241, 241, 241);
margin-bottom: 50px;
}

#exclusive > div{
  display: flex;
}
.exc-desc{
  margin-left: 110px;
}
.exc1{

    width: 50%;
  height: 400px;
background: rgb(241, 241, 241);
margin-left: 170px;
}
.exc2{
  width: 35%;
  height: 585px;
   background-image: linear-gradient(
 to right bottom, 
 rgba(65, 105, 225, 0.5),
 #2606f080
 ),
 url(../assets/images/smilingmen.jpg);
 background-size: cover;
 background-position: top;
   
}


.serv-boxes-1 {
  margin-left: auto;
margin-right: auto;
  width:70%;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 3px;
}

.serv-boxes-1 > div{
  /* border: 0.2px solid  #373648; */
  /* box-shadow: 1px 1px 1px 1px #373648; */
  height: 174px;
  margin-right: 10px;
  margin-bottom: 10px;
   padding: 10px;
}

#case{
  height: 60vh;
  width: 96%;
  /* background: lightpink; */
  margin-left: auto;
  margin-right: auto;
}


.flex-divs{
  display: flex;
  flex-direction: row;
  padding-top: 30px;

}

.flex-divs > div:nth-child(1){
  background-image: url('../assets/images/dash.png');
   background-size: cover;
 background-position: top;
  width: 40%;
  height: 320px;
    margin-left: auto;
  margin-right: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.flex-divs > div:nth-child(2){
    margin-left: 20px;
  margin-right: auto;
  width: 40%;
  height: 500px;
}

.case-btn{
   display: flex;
   flex-direction: row;

}
.case-btn  > a{
  padding: 1em 1.5em;
  text-decoration: none;
  color: #efefef;
 border-radius: 10px;
 transition: all .4s;
 
}


.btn-animated{
    animation: moveinbutton .3s ease-in-out 2s;
    animation-fill-mode: backwards;
}

.case-btn  > a:hover{
   transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.case-btn > a:active{
  transform: translateY(-1px);
     box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  
}

case-btn > a::after{
  transform: translateY(-1px);
     box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  
}

.case-btn > a:nth-child(1){
  background: #ff6000;
  margin-right: 15px;

}

.case-btn > a:nth-child(2){
  background: #051be6;
 
}


#case-studies{
  height: 99vh;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

.flex-studies{
   display: flex;
  flex-direction: row;
  padding-top: 30px;
    justify-content: center;
}

.flex-studies > div{
  width: 250px;
  height: 400px;
  background: #f7f7f7;
margin-left: 10px;
margin-right: 10px;
}


.flex-studies > div:nth-child(2){
   background-image: linear-gradient(
 to right bottom, 
 rgba(65, 105, 225, 0.5),
 #2606f080
 ),
 url(../assets/images/office.jpg);
 background-size: cover;
 background-position: top;
   
}

.subj{
  margin-bottom: 50px;
}
.read-more{
  text-decoration: none;
  padding: 15px;
  background: #ff6000;
  text-align: center;
  color: white;
  text-align: center;
  margin-top: 30px;
  border-radius: 5px;
}



.btn-anime:link,
.btn-anime:visited{

text-transform: uppercase;
text-decoration: none;
padding: 15px 40px;
display: inline-block;
transition: all .2s;
position: relative;

}

.btn-anime:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.btn-anime:active{
    transform: translateY(-1px);
     box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}


.btn-anime::after{
    content: "";
    display: inline-block;
    height: 100%;
    width:100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}


.btn-animated{
    animation: moveinbutton .3s ease-out .75s;
    animation-fill-mode: backwards;
}
.btn-anime:hover::after{
    transform: scaleY(1.5) scaleX(1.4);
    opacity: 0;
}


@keyframes moveinbutton {
    0%{
        opacity: 0;
        transform: translateY(60px)
    }


    100%{
        opacity: 1;
        transform: translate(0)
    }
}


/* CONTACT US STYLE */
#contact-us{
 height: 90vh;
  width: 96%;
  /* background: lightpink; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;

}

#contact-us > div{
  height: 60vh;
background-image: linear-gradient(
 to right bottom, 
 rgba(65, 105, 225, 0.5),
 rgba(38, 6, 240, 0.5)
 ),
 url(../assets/images/men.jpg);
 background-size: cover;
 background-position: top;
 opacity: 0.8;
  margin-left: auto;
  margin-right: auto;
  top: 80px;
  position: relative;
}

#contact-us > div > div:nth-child(1){
  height: 60vh;
 opacity: 0.8;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  position: absolute;
  width: 35%;
  left: 165px;
 
}

#contact-us > div > div:nth-child(1) > div{
 opacity: 0.8;
  margin-left: auto;
  margin-right: auto;
  
}

.div-1{
    height: 160px;
  width: 40%;
background: #e67205;
position: absolute;
top: 0;
left: 0;
 opacity: 0.8;
}

.div-2{
    height: 160px;
  width: 40%;
background: #051be6;
position: absolute;
top: 0;
left: 190px;
 opacity: 0.8;
}
.div-3{
    height: 160px;
  width: 40%;
background: #051be6;
position: absolute;
top: 190px;
left: 0;
 opacity: 0.8;
}

.div-4{
    height: 160px;
  width: 40%;
background: #051be6;
position: absolute;
top: 190px;
left: 240px;
 opacity: 0.8;
}

.div-5{
  height: 66vh;
  width: 99%;
background: #051be6;
position: absolute;
top: -40px;
left: 400px;
 opacity: 0.8;
}

.div-5 >div:nth-child(1){
  text-align: center;
  font-size: 20px;
  height: 70px;
  width: 45%;
background: #05e649;
position: absolute;
top: 20px;
left: 0;

}

.div-5 >div:nth-child(2){

  height: 50vh;
  width: 80%;
/* background: #d7e605; */
position: absolute;
top: 100px;
left: 40px;
right: 10px;

}
.span-style{
  font-size: 30px;
}

form > input{
  border-radius: 10px;
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
}
form > select{
  width: 100%;
  border-radius: 10px;
  height: 40px;
  margin-bottom: 15px;
}

#testimonials{
 height: 90vh;
  width: 96%;
  /* background: lightpink; */
  margin-left: auto;
  margin-right: auto;

}

.testim{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.testim > div{
  margin-right: 10px;
  width: 500px;
  height: 400px;
  /* background: #0059ff; */
}

.testim > div:nth-child(3){
width: 20px;
  height: 20px;
}

.testim > div:nth-child(1){
background-image: url('../assets/images/fold-arms.png');
background-size: cover;
background-position: top;
}
.test-p{
color: #0059ff;
font-size: 20px;
display: inline;
margin-top: 50px;
}

.hyfen{
  color: #e67205;
  font-size: 100px;
  position: relative;
  top: -30px;
  left: -70px;
}

.hr{
  width: 100%;
  height:2px;
  color: #373648;
}
.hr-ben{
  font-size: 20px;
  line-height: 20px;
}
.jo{
color: #373648;
font-size: 25px;
}

.directtion{
  display: inline-block;
    width: 50px;
    height: 45px;
 background: #0059ff;
    text-align: center;
    padding-top: 9px;
    font-size: 20px;
  color: white;
}

.directtion1{
  display: inline-block;
    width: 50px;
    height: 45px;
    background: #ff6000;
    text-align: center;
    padding-top: 9px;
  font-size: 20px;
  color: white;
}

/* BLOG STYLING */

#blog{
   height: 70vh;
  width: 96%;
  /* background: lightpink; */
  margin-left: auto;
  margin-right: auto;

}

.blog__desc{
 display: flex;
  justify-content: center;
 flex-direction: column;
 align-items: center;
}
.blog-container{
  display: flex;
  justify-content: center;

}

.blog-container__one{
  width: 31rem;
  height: 450px;
  /* padding: 10px; */
}

.blog-container__two{
  width: 31rem;
  height: 450px;
  display: flex;
  flex-direction: column;
   
}

.blog-container__twoONE{
    width: 30rem;
  height: 110px;
 background: #bbb9bb;
color: white;
margin-bottom: 10px;
padding: 1px;
}

.blog-container__twoTWO{
    width: 30rem;
  height: 110px;
background: #e67205;
color: white;
margin-bottom: 10px;

}

.blog-container__twoTHREE{
    width: 30rem;
  height: 110px;
  background: #bbb9bb;
   color: white;
}
.goals{
  color: #e67205;
}

.goals1{
color: #0059ff;
}
.blog-container__oneONE{
   width: 30rem;
  height: 230px;
  background: #e6aa05;
  background-image: url('../assets/images/mn.jpg');
  background-size: cover;
  background-position: top;
}

/* COMPANIES STYLE */
#companies{
width: 96%;
height: 30vh ;
background: lightcoral;
margin-top: 50px;
margin-left: auto;
margin-right: auto;
}
.company{
background-image: url('../assets/images/comp.png');
width: 96%;
height: 20vh;

}

/* footerONE STYLE */

#footerONE{
  display: flex;
  justify-content: center;
}

.foter{
width: 20rem;
height: 150px;
background: #051be6;

}

.list{
  list-style: none;
}

.list__link{
  text-decoration: none;
}
.list__item{

}
.sm-list{
  list-style: none;
  display: flex;
  
}
.sm-list__icon{
  width: 2rem;
  margin: 1rem;

}

.sm-list__item{
  align-items: flex-start;
  
}
.sm-list__link{
  align-self: flex-start;
}

.form-st{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.svg-ic{
  background: #e67205;
  width: 4rem;
  height: 4rem;
}
.footer-list__icon{
  width: 4rem;
  height: 2rem;
  
}
#footerTWO{
  margin-left: auto;
  margin-right: auto;
background: #bbb9bb;
  height: 3rem;
  width: 96%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* RESPONSIVENESS */

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
 .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background: #ff6000;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
   .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }

  .desc > h3{
    font-size: 20px;
    padding-top: 50px
}
.desc > p{
    font-size: 10px
}

/* OURSERVICE */
.flexdirection{
display: block;

}

.flexdirection > div{
    background: #ff6000;
    width: 80%;
    height: 340px;
    margin: 5px;
     color: white;
     margin-right: 70px;
     
}
/* about style */
#about{
   height: 65vh;
    width: 90%;
    background: #051be6; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
   
}

.about-content > div:nth-child(1){
    display: none;

}

.about-content > div:nth-child(2){
  
   
    width: 75%;
    height: 5px;
    margin-left: -495px;
     color: white;
     display: block;
      margin-top: 250px;

}
.direct{
    width: 50px;
    height: 45px;
    background: #ff6000;
    text-align: center;
    padding-top: 9px;
    margin-left: 84%
}
.direct1{
   display: none;
}

/* SERVICE2 STYLING */


.serv-boxes {
  margin-left: 100px;
margin-right: auto;
  width:95%;
  display: inline-block;
  /* grid-template-columns: auto auto auto; */
  /* padding: 10px; */
}

.serv-boxes > div{
  border: 0.2px solid  #373648;
  /* box-shadow: 1px 1px 1px 1px #373648; */
  height: 220px;
  margin-right: 10px;
  margin-bottom: 10px;
   padding: 20px;
   width: 70%;
  
}

.serv-boxes > div:nth-child(2){
  border-bottom: 4px solid;
 border-bottom-color: #ff6000;
}
}





 background-image: linear-gradient( to right bottom, 
 rgba(65, 105, 225, 0.5),
  #2606f080),url(../assets/images/smilingmen.jpg);
   background-size: cover;
background-position: top;