:root {
  --color-orange-1: #ff6000;
  --color-blue-1: #051be5;
  --color-grey-light-1: #5c5b6b;
  --color-grey-dark-1: #373648;
  --color-white-1: #fff;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--color-grey-light-2);
  --shadow-dark:  0 2rem 6rem rgba(0,0,0, 0.3); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Fjalla One', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.body-container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }

.navbar {
  background-image: linear-gradient(to right bottom, rgba(65, 105, 225, 0.5), rgba(38, 6, 240, 0.5)), url(../assets/images/mn.jpg);
  background-size: cover;
  background-position: top;
  max-width: 100%;
  vertical-align: middle;
  position: relative; }

.services1 {
  margin-bottom: 5rem; }

.nav {
  width: 100%;
  position: relative;
  margin-top: 2rem; }
  .nav__check {
    display: none; }
  .nav__header {
    display: inline; }
  .nav__nav {
    height: 50px;
    width: 100%;
    position: relative;
    margin-top: 20px; }
  .nav__navbtn {
    display: none; }
  .nav__title {
    display: inline-block;
    font-size: 22px;
    color: white;
    background: #ff6000;
    padding: 10px 10px 10px 10px;
    margin-left: 15px;
    margin-top: 20px;
    text-decoration: none; }
  .nav__btn {
    display: none; }

.navlinks {
  float: right;
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-right: .5rem;
  background: #ff6000;
  border-radius: 50px; }
  .navlinks__link {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef; }
  .navlinks__link:hover {
    background-color: #051be6;
    border-radius: 50px; }

.animated-button:link,
.animated-button:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  position: relative; }

.animated-button:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.animated-button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.animated-button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.animated-button:hover::after {
  transform: scaleY(1.5) scaleX(1.4);
  opacity: 0; }

.nav {
  height: 70px;
  width: 100%;
  background-color: #ff6000;
  position: relative; }

.nav > .nav-header {
  display: inline; }

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px; }

.nav > .nav-btn {
  display: none; }

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px; }

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef; }

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3); }

.nav > #nav-check {
  display: none; }

@media (max-width: 690px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px; }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px; }
  .nav > .nav-btn > label:hover, .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3); }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee; }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px; }
  .nav > .nav-links > a {
    display: block;
    width: 100%; }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px; }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto; } }

.desc {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--color-white-1);
  padding-top: 15rem; }
  .desc__pagedesc {
    text-align: center;
    font-size: 4rem;
    padding-bottom: 1rem; }
  .desc__pagedestwo {
    text-align: center;
    font-size: 1.5rem; }

.firstbtn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem 3rem; }
  @media only screen and (max-width: 54em) {
    .firstbtn {
      padding: 1rem 1rem; } }
  .firstbtn__btn-anime {
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
    padding: 2rem;
    margin: 4rem 2rem; }
  .firstbtn__btn-anime:link, .firstbtn__btn-anime:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    position: relative; }
  .firstbtn__btn-anime:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .firstbtn__btn-anime:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  .firstbtn__btn-anime::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }
  .firstbtn__btn-anime:hover::after {
    transform: scaleY(1.5) scaleX(1.4);
    opacity: 0; }

.btn1__btn-anime {
  background: var(--color-blue-1);
  color: #efefef;
  border-radius: 10px;
  margin: 30px 0px 0px 20px;
  text-decoration: none;
  padding: 5%;
  font-size: 1rem;
  flex: 0 0 30%; }

.btn1__btn-anime:link, .btn1__btn-anime:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  position: relative; }

.btn1__btn-anime:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.btn1__btn-anime:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn1__btn-anime::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn1__btn-anime:hover::after {
  transform: scaleY(1.5) scaleX(1.4);
  opacity: 0; }

.firstbtn > a {
  padding: 1.5rem;
  width: 30%;
  color: #efefef;
  border-radius: 10px;
  margin: 3rem 3rem;
  text-decoration: none;
  font-size: 1.5rem; }
  @media only screen and (max-width: 54em) {
    .firstbtn > a {
      margin: 1rem 1rem;
      font-size: 1rem; } }

.firstbtn > a:first-child {
  background: #ff5e00; }

.firstbtn > a:nth-child(2) {
  background: #051be6; }

.services1 {
  display: flex;
  margin-top: 5rem;
  flex-wrap: wrap; }

.flex-divs {
  display: flex;
  flex: 1; }
  @media only screen and (max-width: 54em) {
    .flex-divs {
      flex-direction: column; } }
  @media only screen and (max-width: 43em) {
    .flex-divs {
      flex-direction: column; } }

.firstdiv {
  flex: 0 0 15%; }
  @media only screen and (max-width: 54em) {
    .firstdiv {
      display: none; } }
  @media only screen and (max-width: 38em) {
    .firstdiv {
      display: none; } }

.service-container {
  height: 30rem;
  padding: 3rem; }
  @media only screen and (max-width: 43em) {
    .service-container {
      width: 80%;
      margin-left: 3rem; } }
  .service-container__heading {
    margin-top: -5rem; }
  .service-container__approach {
    font-size: 3rem;
    font-weight: 300; }
    @media only screen and (max-width: 38em) {
      .service-container__approach {
        font-size: 2.5rem;
        font-weight: 300;
        padding-bottom: 1rem; } }
  .service-container__market {
    font-size: 1.8rem;
    font-weight: 200;
    margin-bottom: 4rem; }
    @media only screen and (max-width: 79em) {
      .service-container__market {
        display: block; } }
    @media only screen and (max-width: 38em) {
      .service-container__market {
        font-size: 1.5rem;
        font-weight: 300;
        padding-bottom: 1rem; } }

.service-container-two {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right bottom, rgba(65, 105, 225, 0.5), #2606f080), url(../assets/images/smilingmen.jpg);
  background-size: cover;
  background-position: top;
  height: 30rem; }
  @media only screen and (max-width: 54em) {
    .service-container-two {
      margin-top: 3rem; } }
  @media only screen and (max-width: 43em) {
    .service-container-two {
      flex-direction: column;
      align-items: center;
      width: 80%;
      justify-content: center;
      margin-left: 5rem; } }
  .service-container-two__bluebk {
    margin-top: 13.7rem;
    background: #051be6;
    opacity: 0.9;
    color: #fff;
    padding: 2rem; }
  .service-container-two__desc {
    font-size: 2rem;
    font-weight: 300; }
    @media only screen and (max-width: 54em) {
      .service-container-two__desc {
        font-size: 3rem; } }
    @media only screen and (max-width: 38em) {
      .service-container-two__desc {
        font-size: 1rem;
        font-weight: 300;
        padding-bottom: 1rem; } }
  .service-container-two__campaign {
    font-size: 1.2rem;
    font-weight: 200;
    background: #051be6;
    opacity: 0.9;
    color: #fff; }
    @media only screen and (max-width: 54em) {
      .service-container-two__campaign {
        font-size: 1.8rem; } }

.readmore {
  background: #ff6000;
  font-size: 1rem;
  font-weight: 200;
  color: #fff;
  list-style: none;
  text-decoration: none;
  margin-top: 1rem;
  padding: .5rem;
  border-radius: .5rem; }

.butn1 {
  padding: 1.5rem;
  border-radius: 1rem;
  color: white;
  font-size: 2rem;
  font-weight: 400;
  background: #051be6;
  text-decoration: none; }
  @media only screen and (max-width: 38em) {
    .butn1 {
      font-size: 1rem; } }

.butn1::hover {
  cursor: pointer; }

.forward {
  background: #ff6000;
  padding: 1rem;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  width: 3rem;
  align-self: flex-end;
  position: absolute;
  top: 0; }

.about {
  margin-top: 12rem; }

.about-container {
  background: #051be6;
  height: 30rem;
  position: relative; }

.working {
  position: absolute;
  background-image: linear-gradient(to right bottom, rgba(65, 105, 225, 0.5), #2606f080), url(../assets/images/smilingmen.jpg);
  background-size: cover;
  background-position: top;
  margin-left: 7rem;
  margin-right: 4rem;
  width: 35rem;
  height: 39rem;
  top: -3rem; }
  @media only screen and (max-width: 43em) {
    .working {
      margin-left: 2rem;
      width: 25rem;
      height: 35rem; } }
  @media only screen and (max-width: 34em) {
    .working {
      display: none; } }

.working-content {
  background: #ff6000;
  width: 25rem;
  opacity: 0.7;
  height: 9rem; }
  .working-content__parag {
    color: white;
    margin-top: 25rem;
    padding: 1rem; }

.forward2 {
  background: #ff6000;
  padding: 1rem;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  width: 3rem;
  right: 0;
  bottom: 0;
  position: absolute; }

.about-content {
  color: #fff;
  padding-left: 5rem;
  width: 60%;
  line-height: 3rem;
  position: absolute;
  top: 3rem;
  left: 50rem;
  width: 40%; }
  @media only screen and (max-width: 54em) {
    .about-content {
      left: 40rem;
      top: 0; } }
  @media only screen and (max-width: 43em) {
    .about-content {
      left: 25rem;
      top: 0; } }
  @media only screen and (max-width: 34em) {
    .about-content {
      left: 5rem;
      top: 0;
      width: 80%; } }
  .about-content__abt {
    font-size: 3rem;
    padding-top: 3rem; }
    @media only screen and (max-width: 65em) {
      .about-content__abt {
        padding-top: 1rem; } }
    @media only screen and (max-width: 54em) {
      .about-content__abt {
        font-size: 1.5rem; } }
  .about-content__abt-header {
    font-size: 1.5rem; }
    @media only screen and (max-width: 65em) {
      .about-content__abt-header {
        font-size: 1rem; } }
  .about-content__parag {
    font-size: 1.5rem; }
    @media only screen and (max-width: 65em) {
      .about-content__parag {
        font-size: 1rem; } }

.btn2 {
  margin-top: 3rem; }
  @media only screen and (max-width: 54em) {
    .btn2 {
      margin-top: 1rem; } }

.readmore2 {
  background: #ff6000;
  font-size: 1rem;
  font-weight: 200;
  color: #fff;
  list-style: none;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 0.7rem; }

#services2 {
  margin-top: 10rem; }

.service-container2 {
  width: 100%;
  text-align: center; }
  .service-container2__serv {
    color: var(--color-grey-light-1);
    font-size: 2.5rem;
    font-weight: 400; }
    @media only screen and (max-width: 45em) {
      .service-container2__serv {
        font-size: 1rem; } }
  .service-container2__exclusive {
    color: var(--color-grey-dark-1);
    font-weight: 400;
    font-size: 2.5rem; }
    @media only screen and (max-width: 45em) {
      .service-container2__exclusive {
        font-size: 1.5rem; } }
  .service-container2__paragh {
    color: var(--color-grey-light-1);
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 2rem; }
    @media only screen and (max-width: 45em) {
      .service-container2__paragh {
        font-size: 1.5rem; } }
    @media only screen and (max-width: 45em) {
      .service-container2__paragh {
        font-size: 1rem; } }

.inner-serv-boxes {
  box-shadow: 0px 0px 1px 0px #373648;
  padding: 3rem;
  margin: 1rem;
  width: 50%;
  background: #eeeeee; }

.boder-color {
  border-bottom: 3px solid #ff5e00; }

.h3 {
  padding-top: 1rem; }

.exclusive-container {
  background: var(--color-grey-blue-1);
  display: flex;
  margin-top: 4rem; }
  @media only screen and (max-width: 45em) {
    .exclusive-container {
      flex-wrap: wrap;
      justify-content: center; } }

.serv-heade {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem; }

.scandal {
  font-size: 1.2rem; }

.exc2 {
  background-image: linear-gradient(to right bottom, rgba(65, 105, 225, 0.5), var(--color-blue-1)), url(../assets/images/smilingmen.jpg);
  background-size: cover;
  background-position: top;
  height: 50rem;
  width: 55rem; }

.serv-boxes {
  display: flex;
  margin-bottom: -2rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (max-width: 65em) {
    .serv-boxes {
      margin-left: 3rem;
      margin-bottom: 1rem; } }
  @media only screen and (max-width: 38em) {
    .serv-boxes {
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      margin-top: 3rem; } }

.serv-boxes__inner {
  padding: 1.8rem;
  width: 50%;
  height: 16rem;
  margin-left: 6rem;
  font-size: 1rem;
  font-weight: 300; }
  @media only screen and (max-width: 54em) {
    .serv-boxes__inner {
      width: 50%;
      margin-left: 3rem; } }
  @media only screen and (max-width: 38em) {
    .serv-boxes__inner {
      margin-left: 30rem auto; } }

.exc1 {
  margin-left: auto;
  margin-right: auto; }
  .exc1__header {
    text-align: center;
    padding-top: 3rem;
    font-size: 2rem;
    color: var(--color-grey-light-1); }
    @media only screen and (max-width: 65em) {
      .exc1__header {
        font-size: 1.2rem; } }
  .exc1__title {
    text-align: center;
    font-size: 2.5rem;
    color: var(--color-grey-dark-1);
    padding-top: 1rem; }
    @media only screen and (max-width: 65em) {
      .exc1__title {
        font-size: 1.8rem; } }
  .exc1__paragh {
    padding-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
    color: var(--color-grey-light-1); }
    @media only screen and (max-width: 65em) {
      .exc1__paragh {
        font-size: 1rem; } }

.flex-div {
  display: flex;
  padding-top: 7rem;
  margin-left: 5rem;
  padding-top: 10rem; }
  @media only screen and (max-width: 45em) {
    .flex-div {
      display: block; } }

.image-div {
  background-image: url("../assets/images/dash.png");
  background-size: cover;
  background-position: top;
  width: 40%;
  height: 30rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 45em) {
    .image-div {
      display: block;
      width: 70%;
      margin-left: auto;
      margin-right: auto; } }

.care-about {
  width: 50%;
  height: 30rem;
  margin-left: 3rem; }
  @media only screen and (max-width: 45em) {
    .care-about {
      display: block;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 4rem; } }
  .care-about__parag {
    color: var(--color-grey-light-1);
    font-size: 2rem; }
  .care-about__heading {
    color: var(--color-grey-dark-1);
    font-size: 2.5rem; }
    @media only screen and (max-width: 45em) {
      .care-about__heading {
        font-size: 1.5rem;
        margin-top: 3rem; } }
  .care-about__desc {
    color: var(--color-grey-light-1);
    font-size: 1.6rem;
    padding-top: 1rem;
    padding-bottom: 1rem; }

.case-btn {
  display: flex;
  padding-top: 3.5rem; }
  .case-btn__buttonOne {
    background-color: #ff6000;
    padding: 1rem 2rem;
    margin-right: 2rem;
    color: #fff;
    border-radius: 1rem;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    margin-left: 2rem; }
    @media only screen and (max-width: 45em) {
      .case-btn__buttonOne {
        font-size: .7rem;
        padding: .7rem 1rem;
        margin-right: 1rem;
        margin-left: .3rem; } }
  .case-btn__buttonTwo {
    background-color: var(--color-blue-1);
    padding: 1rem 2rem;
    margin-right: 2rem;
    color: #fff;
    border-radius: 1rem;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    margin-left: 2rem; }
    @media only screen and (max-width: 45em) {
      .case-btn__buttonTwo {
        font-size: .7rem;
        padding: .7rem 1rem;
        margin-right: 1rem; } }

.section-container {
  padding-top: 10rem;
  text-align: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto; }
  .section-container__heading {
    color: var(--color-grey-light-1);
    font-size: 2rem;
    font-weight: 300; }
  .section-container__parag {
    color: var(--color-grey-light-1);
    font-size: 2.5rem;
    font-weight: 300; }
  .section-container__paragTwo {
    color: var(--color-grey-dark-1);
    font-size: 1.5rem;
    font-weight: 300; }
    @media only screen and (max-width: 54em) {
      .section-container__paragTwo {
        font-size: 1rem; } }

#case-studies {
  margin-bottom: 6rem; }

.flex-studies {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem;
  padding-bottom: 4rem; }
  @media only screen and (max-width: 65em) {
    .flex-studies {
      width: 96%; } }
  @media only screen and (max-width: 45em) {
    .flex-studies {
      display: block;
      margin-left: auto;
      margin-right: auto; } }

.flex-studies-one {
  margin-right: 2rem;
  background: #e0dfdf;
  width: 40%;
  height: 40rem;
  padding: 1rem;
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 45em) {
    .flex-studies-one {
      width: 60%;
      display: block;
      margin-left: auto;
      margin-right: auto; } }
  .flex-studies-one__heading {
    padding-top: 3rem;
    font-size: 2rem;
    font-weight: 300; }
  .flex-studies-one__parag {
    padding-top: 3rem;
    font-size: 1.8rem;
    font-weight: 300; }
  .flex-studies-one__paragTwo {
    padding-top: 3rem;
    font-size: 1.5rem;
    font-weight: 300;
    padding-bottom: 3rem; }
    @media only screen and (max-width: 45em) {
      .flex-studies-one__paragTwo {
        font-size: 2rem; } }
  .flex-studies-one__headingTwo {
    padding-top: 5rem;
    font-size: 1.5rem;
    font-weight: 300;
    display: inline;
    margin-right: 1rem; }

.crack {
  padding-top: 5rem;
  font-size: 1.5rem;
  font-weight: 300;
  display: inline;
  color: #051be6; }

.flex-studies-two {
  background-image: linear-gradient(to right bottom, rgba(65, 105, 225, 0.5), #2606f080), url(../assets/images/smilingmen.jpg);
  background-size: cover;
  background-position: top;
  width: 40%;
  height: 40rem;
  margin-right: 2rem;
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.2);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff; }
  @media only screen and (max-width: 45em) {
    .flex-studies-two {
      width: 60%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-top: 4rem;
      margin-bottom: 4rem; } }
  .flex-studies-two__heading {
    font-size: 1.5rem;
    font-weight: 300;
    padding-bottom: 1rem; }
    @media only screen and (max-width: 45em) {
      .flex-studies-two__heading {
        padding-top: 7rem;
        font-size: 2.5rem; } }
    @media only screen and (max-width: 45em) {
      .flex-studies-two__heading__headingtwo {
        font-size: 2.5rem; } }
  .flex-studies-two__button {
    text-decoration: none;
    padding: 1rem 2rem;
    background: #fd9752;
    margin-top: 3rem;
    border-radius: 1rem;
    text-align: center;
    color: #fff; }
  @media only screen and (max-width: 45em) {
    .flex-studies-two__parag {
      margin-bottom: 5rem; } }

.contact-us-container {
  margin-top: 7rem;
  background-image: linear-gradient(to right bottom, rgba(65, 105, 225, 0.5), #2606f080), url(../assets/images/office.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  height: 40rem; }

.box-1 {
  position: absolute;
  top: 0;
  opacity: .6;
  left: 15rem;
  color: #fff;
  text-align: center;
  background: #ff6000;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20%; }
  @media only screen and (max-width: 54em) {
    .box-1 {
      left: 5rem; } }
  @media only screen and (max-width: 45em) {
    .box-1 {
      display: none; } }
  .box-1__parag {
    font-size: 2rem;
    font-weight: 300; }

.box-2 {
  opacity: .6;
  width: 20%;
  position: absolute;
  bottom: 0;
  left: 15rem;
  color: #fff;
  text-align: center;
  background: #051be6;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  @media only screen and (max-width: 54em) {
    .box-2 {
      left: 5rem; } }
  .box-2__parag {
    font-size: 2rem;
    font-weight: 300; }

.box-3 {
  opacity: .6;
  width: 20%;
  position: absolute;
  top: 0;
  left: 45rem;
  color: #fff;
  text-align: center;
  background: #051be6;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  @media only screen and (max-width: 65em) {
    .box-3 {
      left: 39rem; } }
  @media only screen and (max-width: 54em) {
    .box-3 {
      left: 30rem; } }
  @media only screen and (max-width: 45em) {
    .box-3 {
      display: none; } }
  .box-3__parag {
    font-size: 2rem;
    font-weight: 300; }

.box-4 {
  opacity: .6;
  width: 20%;
  position: absolute;
  bottom: 0;
  left: 50rem;
  color: #fff;
  text-align: center;
  background: #051be6;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  @media only screen and (max-width: 65em) {
    .box-4 {
      left: 39rem; } }
  @media only screen and (max-width: 54em) {
    .box-4 {
      left: 30rem; } }
  @media only screen and (max-width: 45em) {
    .box-4 {
      display: none; } }
  .box-4__parag {
    font-size: 2rem;
    font-weight: 300; }

.div-5 {
  position: absolute;
  width: 30%;
  background: #051be6;
  opacity: .6;
  top: -4rem;
  left: 71rem;
  height: 39rem; }
  @media only screen and (max-width: 65em) {
    .div-5 {
      left: 58rem; } }
  @media only screen and (max-width: 54em) {
    .div-5 {
      left: 45rem; } }
  @media only screen and (max-width: 45em) {
    .div-5 {
      left: 12rem;
      width: 60%;
      margin-top: 3rem; } }

.req {
  background: #ff6000;
  color: #fff;
  padding: 3rem;
  margin-top: 1.5rem;
  width: 70%; }
  .req__free {
    font-size: 1.1rem;
    font-weight: 300; }

.form-div {
  margin-top: 1rem;
  padding: 1rem 3rem 3rem 3rem; }

#form {
  width: 100%;
  display: flex;
  flex-direction: column; }

.form {
  border-radius: 2rem;
  width: 92%;
  padding: .5rem;
  margin: .9rem;
  background: #fff; }

.form:focus {
  outline: none;
  width: 100%;
  transform: scaleX(1);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }

.btn-subb {
  border-radius: 2rem;
  width: 50%;
  padding: .5rem;
  margin: .9rem;
  background: #373648;
  color: #fff;
  text-transform: uppercase;
  align-self: center; }

.btn-subb:hover {
  cursor: pointer; }

.test-container {
  margin-top: 8rem;
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem; }
  .test-container__heading {
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--color-grey-light-1); }
    @media only screen and (max-width: 38em) {
      .test-container__heading {
        font-size: 1rem; } }
  .test-container__parag {
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--color-grey-dark-1); }
    @media only screen and (max-width: 38em) {
      .test-container__parag {
        font-size: 1.5rem; } }
  .test-container__paragone {
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--color-grey-light-1); }

.testim {
  display: flex;
  justify-content: center;
  margin-top: 5rem; }
  @media only screen and (max-width: 43em) {
    .testim {
      flex-direction: column;
      align-items: center; } }

.test_div {
  margin-left: 3rem;
  background-image: url("../assets/images/fold-arms.png");
  width: 50%;
  height: 40rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top; }
  @media only screen and (max-width: 65em) {
    .test_div {
      width: 40%; } }
  @media only screen and (max-width: 43em) {
    .test_div {
      width: 40%; } }

.test_div_two {
  width: 30%; }
  @media only screen and (max-width: 43em) {
    .test_div_two {
      flex-direction: column;
      align-items: center;
      width: 50%; } }

.test_div_three {
  display: flex; }
  .test_div_three__test-p {
    color: #051be6;
    font-size: 2rem;
    display: inline; }
    @media only screen and (max-width: 54em) {
      .test_div_three__test-p {
        font-size: 1.5rem; } }
  .test_div_three__rd {
    color: #ff5e00;
    font-size: 3rem;
    display: inline; }

.hr-ben {
  padding-top: 3rem;
  font-size: 1.5rem; }

.jo {
  padding-top: 2rem;
  font-size: 2rem;
  color: var(--color-grey-light-1); }

.ceo {
  padding-top: 1rem;
  font-size: 1.3rem;
  color: var(--color-grey-dark-1);
  margin-bottom: 3rem; }

.directtion {
  padding: 1.7rem;
  background: #ff5e00;
  display: inline;
  color: #fff; }

.directtion1 {
  padding: 1.7rem;
  background: #051be6;
  color: #fff;
  display: inline; }

.blog-desc {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 8rem; }
  .blog-desc__heading {
    font-size: 2.5rem;
    font-weight: 300;
    padding-top: 1rem;
    color: var(--color-grey-light-1); }
  .blog-desc__parag {
    font-size: 2rem;
    font-weight: 300;
    color: var(--color-grey-dark-1); }
  .blog-desc__paraGTWO {
    font-size: 1.5rem;
    font-weight: 300;
    padding-top: 1rem;
    color: var(--color-grey-light-1); }

.case-btn__btn {
  background-color: #051be6;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  border-radius: 1rem; }

.case-btn__btn:hover {
  cursor: pointer; }

.blog-container {
  display: flex;
  margin-top: 3rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center; }
  @media only screen and (max-width: 45em) {
    .blog-container {
      flex-direction: column;
      align-items: center; } }

.blog-container__one {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 1rem; }
  @media only screen and (max-width: 79em) {
    .blog-container__one {
      margin-bottom: 2rem;
      width: 62%; } }

.blog-container__oneONE {
  background-image: url("../assets/images/smilingmen.jpg");
  height: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  margin-right: 3rem; }

.blog-container__oneTWO {
  margin-top: 2rem; }
  .blog-container__oneTWO__heading {
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: 300;
    color: var(--color-grey-dark-1); }
  .blog-container__oneTWO__goals {
    padding-top: .5rem;
    font-size: .8rem;
    font-weight: 300;
    color: var(--color-grey-light-1);
    margin-bottom: 3rem; }

.blog-container__two {
  width: 60%; }

.blog-container__twoTWO {
  background: #f8f5f5;
  color: #fff;
  height: 14rem;
  margin-bottom: 2.5rem;
  box-shadow: 0rem 0.3rem 0.6rem rgba(0, 0, 0, 0.2);
  padding: 1rem; }
  .blog-container__twoTWO__heading {
    font-size: 1.7rem;
    font-weight: 300;
    color: var(--color-grey-dark-1);
    padding: .5rem; }
  .blog-container__twoTWO__goals1 {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--color-blue-1);
    padding: .5rem; }
  .blog-container__twoTWO__parag {
    font-size: 1rem;
    font-weight: 300;
    color: var(--color-grey-light-1);
    padding: .5rem; }

.container_blog {
  background: #f8f5f5;
  height: 14rem;
  margin-bottom: 3rem;
  margin-top: 1rem;
  box-shadow: 0rem 0.3rem 0.6rem rgba(0, 0, 0, 0.2);
  padding: 1rem; }
  .container_blog__heading {
    font-size: 1.7rem;
    font-weight: 300;
    color: var(--color-grey-dark-1);
    padding: .5rem; }
  .container_blog__goals1 {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--color-blue-1);
    padding: .5rem; }
  .container_blog__parag {
    font-size: 1rem;
    font-weight: 300;
    color: var(--color-grey-light-1);
    padding: .5rem; }

.blog-container__twoTWO {
  background: #ff6000;
  height: 14rem;
  margin-bottom: 3rem;
  box-shadow: 0rem 0.3rem 0.6rem rgba(0, 0, 0, 0.2);
  padding: 1rem; }
  .blog-container__twoTWO__heading {
    color: #fff; }
  .blog-container__twoTWO__goals1 {
    color: #fff; }
  .blog-container__twoTWO__parag {
    color: #fff; }

.company {
  background-image: url("../assets/images/comp.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 100%;
  height: 10rem; }

.footerONE {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (max-width: 45em) {
    .footerONE {
      flex-direction: column;
      align-items: center; } }

.foter {
  width: 40%;
  height: 20rem;
  margin-right: 3rem; }
  @media only screen and (max-width: 45em) {
    .foter {
      width: 60%;
      height: 10rem; } }

.footer_style__heading {
  font-size: 2rem;
  text-decoration: underline;
  color: #051be6;
  letter-spacing: .5rem;
  padding-bottom: 1rem; }

.footer_style__parag {
  font-size: .6rem;
  font-weight: 300;
  color: var(--color-grey-light-1); }

.con {
  line-height: 1.7rem; }
  .con__heading {
    padding-top: 4.2rem;
    font-size: .1rem;
    font-weight: 300;
    color: var(--color-grey-light-1); }

.list {
  list-style: none;
  padding-top: 3.5rem; }
  .list__item {
    padding: .4rem; }
  .list__link {
    text-decoration: none;
    color: var(--color-grey-light-1); }

.footer-sub__heading {
  padding-top: 4.2rem;
  font-size: .6rem;
  font-weight: 300;
  color: var(--color-grey-light-1); }

.form-st {
  display: flex; }

.svg-ic {
  background: #ff5e00;
  width: 10%;
  text-align: center;
  padding-top: .2rem; }

.footer_icon {
  width: 5%; }

.footerend {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between; }

.sm-list {
  list-style: none;
  display: flex; }
  .sm-list__item {
    padding: .4rem; }
  .sm-list__link {
    text-decoration: none;
    color: var(--color-grey-light-1); }

.iconstyle {
  font-size: 2rem;
  color: var(--color-blue-1);
  padding-right: 2rem; }
